main { 
    
    .home-container {

        .article1 {
            grid-area: article1;
            background-image: url("../img/home.jpg");
            background-repeat: no-repeat;
            background-size: cover;

            .home-phrase {
                color:$light;
                padding:25px;
                font-family: 'Graduate', serif;
                text-transform: uppercase;

                .phrase1 {
                    line-height: 60px;
                    font-size: 80px;
                }

                .phrase2 {
                    line-height: 60px;
                    font-size: 50px;
                }

                .phrase3 {
                    line-height: 30px;
                    font-size: 30px;
                }
            }
        }
    
        .article2 {
            grid-area: article2;
            box-shadow: inset 6px 0px 20px -10px gray;
            border-top:  5px solid $secondary;

            @include media-query  ($layout-breakpoint-xxs){ 
                .btn {
                    font-size: 14px;
                }
            }  

            @include media-query  ($layout-breakpoint-xs){ 
                .btn {
                    font-size: 16px;
                }
            }
        }
    
        .article3 {
            grid-area: article3;
            border-top:  5px solid $secondary;

            @include media-query  ($layout-breakpoint-xxs){ 
                img {
                    width: 250px;
                    height: 250px;
                }
            }

            @include media-query  ($layout-breakpoint-xs){ 
                img {
                    width: 350px;
                    height: 350px;
                }

            }


        }
    }
}