main { 
    
    .home-container {
        display: grid;

        grid-template-areas: "article1 article2"
                         "article3 article2"; 
                         
        grid-template-rows: 429px 1fr;
        grid-template-columns: 800px 350px;


        .article1 {
            grid-area: article1;
            background-image: url("./assets/img/home.jpg");
            background-repeat: no-repeat;
            background-size: contain;

            .home-phrase {
                color:$light;
                padding:25px;
                font-family: 'Graduate', serif;
                text-transform: uppercase;

                .phrase1 {
                    line-height: 60px;
                    font-size: 80px;
                }

                .phrase2 {
                    line-height: 60px;
                    font-size: 50px;
                }

                .phrase3 {
                    line-height: 30px;
                    font-size: 30px;
                }
            }
        }
    
        .article2 {
            grid-area: article2;
            box-shadow: inset 6px 0px 20px -10px gray;
            border-top:  5px solid $secondary;
        }
    
        .article3 {
            grid-area: article3;
            border-top:  5px solid $secondary;
        }
    }
}