$primary:       #100551;
$secondary:     #ff635b;
$success:       #063205;
$info:          #1172ba;
$warning:       #c2b431;
$danger:        #580804;
$light:         #fcf9f9;
$dark:          #2a2a2a;

// nav bar
$navbar-light-brand-color: $light;
$navbar-light-brand-hover-color: $light;
$navbar-light-link-color: $light;
$navbar-light-active-color: #ff635b;
$navbar-light-hover-color: $light;
$navbar-light-color: $light;

// breakpoints
$layout-breakpoint-xxs: 0;
$layout-breakpoint-xs: 370px;
$layout-breakpoint-s: 520px;
$layout-breakpoint-m: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xl: 1200px;

// navbar-toggler-icon color
$navbar-light-icon-color: $light;
$dropdown-bg: $primary;
$dropdown-link-color: $light;
$dropdown-border-width:0;
$dropdown-link-hover-bg: $primary;
